//
// Badges
//

.badge {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  background-color: #ddd;
  padding: 4px;
  border-radius: 45%;
  font-size: 75%;
}