//
// Grid (Bootstrap)
//


.container {
  @extend %cf;
  margin: 0 auto;
  padding-right: 8px;
  padding-left: 8px;
}

.non-responsive {
  .container {
    max-width: none !important;
    width: $large;
  }
}

.row {
  @extend %cf;
  margin-right: -8px;
  margin-left: -8px;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-small-1,
.grid-small-2,
.grid-small-3,
.grid-small-4,
.grid-small-5,
.grid-small-6,
.grid-small-7,
.grid-small-8,
.grid-small-9,
.grid-small-10,
.grid-small-11,
.grid-small-12,
.grid-medium-1,
.grid-medium-2,
.grid-medium-3,
.grid-medium-4,
.grid-medium-5,
.grid-medium-6,
.grid-medium-7,
.grid-medium-8,
.grid-medium-9,
.grid-medium-10,
.grid-medium-11,
.grid-medium-12,
.grid-large-1,
.grid-large-2,
.grid-large-3,
.grid-large-4,
.grid-large-5,
.grid-large-6,
.grid-large-7,
.grid-large-8,
.grid-large-9,
.grid-large-10,
.grid-large-11,
.grid-large-12 {
  position: relative;
  min-height: 1px;
  padding-right: 8px;
  padding-left: 8px;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11 {
  float: left;
}

.grid-1 {
  width: 8.333333333333332%;
}

.grid-2 {
  width: 16.666666666666664%;
}

.grid-3 {
  width: 25%;
}

.grid-4 {
  width: 33.33333333333333%;
}

.grid-5 {
  width: 41.66666666666667%;
}

.grid-6 {
  width: 50%;
}

.grid-7 {
  width: 58.333333333333336%;
}

.grid-8 {
  width: 66.66666666666666%;
}

.grid-9 {
  width: 75%;
}

.grid-10 {
  width: 83.33333333333334%;
}

.grid-11 {
  width: 91.66666666666666%;
}

.grid-12 {
  width: 100%;
}

@media (min-width: $small) {
  .container {
    max-width: $small;
  }
  .grid-small-1,
  .grid-small-2,
  .grid-small-3,
  .grid-small-4,
  .grid-small-5,
  .grid-small-6,
  .grid-small-7,
  .grid-small-8,
  .grid-small-9,
  .grid-small-10,
  .grid-small-11 {
    float: left;
  }
  .grid-small-1 {
    width: 8.333333333333332%;
  }
  .grid-small-2 {
    width: 16.666666666666664%;
  }
  .grid-small-3 {
    width: 25%;
  }
  .grid-small-4 {
    width: 33.33333333333333%;
  }
  .grid-small-5 {
    width: 41.66666666666667%;
  }
  .grid-small-6 {
    width: 50%;
  }
  .grid-small-7 {
    width: 58.333333333333336%;
  }
  .grid-small-8 {
    width: 66.66666666666666%;
  }
  .grid-small-9 {
    width: 75%;
  }
  .grid-small-10 {
    width: 83.33333333333334%;
  }
  .grid-small-11 {
    width: 91.66666666666666%;
  }
  .grid-small-12 {
    width: 100%;
  }
  .grid-small-push-1 {
    left: 8.333333333333332%;
  }
  .grid-small-push-2 {
    left: 16.666666666666664%;
  }
  .grid-small-push-3 {
    left: 25%;
  }
  .grid-small-push-4 {
    left: 33.33333333333333%;
  }
  .grid-small-push-5 {
    left: 41.66666666666667%;
  }
  .grid-small-push-6 {
    left: 50%;
  }
  .grid-small-push-7 {
    left: 58.333333333333336%;
  }
  .grid-small-push-8 {
    left: 66.66666666666666%;
  }
  .grid-small-push-9 {
    left: 75%;
  }
  .grid-small-push-10 {
    left: 83.33333333333334%;
  }
  .grid-small-push-11 {
    left: 91.66666666666666%;
  }
  .grid-small-pull-1 {
    right: 8.333333333333332%;
  }
  .grid-small-pull-2 {
    right: 16.666666666666664%;
  }
  .grid-small-pull-3 {
    right: 25%;
  }
  .grid-small-pull-4 {
    right: 33.33333333333333%;
  }
  .grid-small-pull-5 {
    right: 41.66666666666667%;
  }
  .grid-small-pull-6 {
    right: 50%;
  }
  .grid-small-pull-7 {
    right: 58.333333333333336%;
  }
  .grid-small-pull-8 {
    right: 66.66666666666666%;
  }
  .grid-small-pull-9 {
    right: 75%;
  }
  .grid-small-pull-10 {
    right: 83.33333333333334%;
  }
  .grid-small-pull-11 {
    right: 91.66666666666666%;
  }
  .grid-small-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .grid-small-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .grid-small-offset-3 {
    margin-left: 25%;
  }
  .grid-small-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .grid-small-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .grid-small-offset-6 {
    margin-left: 50%;
  }
  .grid-small-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .grid-small-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .grid-small-offset-9 {
    margin-left: 75%;
  }
  .grid-small-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .grid-small-offset-11 {
    margin-left: 91.66666666666666%;
  }
}

@media (min-width: $medium) {
  .container {
    max-width: $medium;
  }
  .grid-medium-1,
  .grid-medium-2,
  .grid-medium-3,
  .grid-medium-4,
  .grid-medium-5,
  .grid-medium-6,
  .grid-medium-7,
  .grid-medium-8,
  .grid-medium-9,
  .grid-medium-10,
  .grid-medium-11 {
    float: left;
  }
  .grid-medium-1 {
    width: 8.333333333333332%;
  }
  .grid-medium-2 {
    width: 16.666666666666664%;
  }
  .grid-medium-3 {
    width: 25%;
  }
  .grid-medium-4 {
    width: 33.33333333333333%;
  }
  .grid-medium-5 {
    width: 41.66666666666667%;
  }
  .grid-medium-6 {
    width: 50%;
  }
  .grid-medium-7 {
    width: 58.333333333333336%;
  }
  .grid-medium-8 {
    width: 66.66666666666666%;
  }
  .grid-medium-9 {
    width: 75%;
  }
  .grid-medium-10 {
    width: 83.33333333333334%;
  }
  .grid-medium-11 {
    width: 91.66666666666666%;
  }
  .grid-medium-12 {
    width: 100%;
  }
  .grid-medium-push-0 {
    left: auto;
  }
  .grid-medium-push-1 {
    left: 8.333333333333332%;
  }
  .grid-medium-push-2 {
    left: 16.666666666666664%;
  }
  .grid-medium-push-3 {
    left: 25%;
  }
  .grid-medium-push-4 {
    left: 33.33333333333333%;
  }
  .grid-medium-push-5 {
    left: 41.66666666666667%;
  }
  .grid-medium-push-6 {
    left: 50%;
  }
  .grid-medium-push-7 {
    left: 58.333333333333336%;
  }
  .grid-medium-push-8 {
    left: 66.66666666666666%;
  }
  .grid-medium-push-9 {
    left: 75%;
  }
  .grid-medium-push-10 {
    left: 83.33333333333334%;
  }
  .grid-medium-push-11 {
    left: 91.66666666666666%;
  }
  .grid-medium-pull-0 {
    right: auto;
  }
  .grid-medium-pull-1 {
    right: 8.333333333333332%;
  }
  .grid-medium-pull-2 {
    right: 16.666666666666664%;
  }
  .grid-medium-pull-3 {
    right: 25%;
  }
  .grid-medium-pull-4 {
    right: 33.33333333333333%;
  }
  .grid-medium-pull-5 {
    right: 41.66666666666667%;
  }
  .grid-medium-pull-6 {
    right: 50%;
  }
  .grid-medium-pull-7 {
    right: 58.333333333333336%;
  }
  .grid-medium-pull-8 {
    right: 66.66666666666666%;
  }
  .grid-medium-pull-9 {
    right: 75%;
  }
  .grid-medium-pull-10 {
    right: 83.33333333333334%;
  }
  .grid-medium-pull-11 {
    right: 91.66666666666666%;
  }
  .grid-medium-offset-0 {
    margin-left: 0;
  }
  .grid-medium-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .grid-medium-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .grid-medium-offset-3 {
    margin-left: 25%;
  }
  .grid-medium-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .grid-medium-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .grid-medium-offset-6 {
    margin-left: 50%;
  }
  .grid-medium-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .grid-medium-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .grid-medium-offset-9 {
    margin-left: 75%;
  }
  .grid-medium-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .grid-medium-offset-11 {
    margin-left: 91.66666666666666%;
  }
}

@media (min-width: $large) {
  .container {
    max-width: $large;
  }
  .grid-large-1,
  .grid-large-2,
  .grid-large-3,
  .grid-large-4,
  .grid-large-5,
  .grid-large-6,
  .grid-large-7,
  .grid-large-8,
  .grid-large-9,
  .grid-large-10,
  .grid-large-11 {
    float: left;
  }
  .grid-large-1 {
    width: 8.333333333333332%;
  }
  .grid-large-2 {
    width: 16.666666666666664%;
  }
  .grid-large-3 {
    width: 25%;
  }
  .grid-large-4 {
    width: 33.33333333333333%;
  }
  .grid-large-5 {
    width: 41.66666666666667%;
  }
  .grid-large-6 {
    width: 50%;
  }
  .grid-large-7 {
    width: 58.333333333333336%;
  }
  .grid-large-8 {
    width: 66.66666666666666%;
  }
  .grid-large-9 {
    width: 75%;
  }
  .grid-large-10 {
    width: 83.33333333333334%;
  }
  .grid-large-11 {
    width: 91.66666666666666%;
  }
  .grid-large-12 {
    width: 100%;
  }
  .grid-large-push-0 {
    left: auto;
  }
  .grid-large-push-1 {
    left: 8.333333333333332%;
  }
  .grid-large-push-2 {
    left: 16.666666666666664%;
  }
  .grid-large-push-3 {
    left: 25%;
  }
  .grid-large-push-4 {
    left: 33.33333333333333%;
  }
  .grid-large-push-5 {
    left: 41.66666666666667%;
  }
  .grid-large-push-6 {
    left: 50%;
  }
  .grid-large-push-7 {
    left: 58.333333333333336%;
  }
  .grid-large-push-8 {
    left: 66.66666666666666%;
  }
  .grid-large-push-9 {
    left: 75%;
  }
  .grid-large-push-10 {
    left: 83.33333333333334%;
  }
  .grid-large-push-11 {
    left: 91.66666666666666%;
  }
  .grid-large-pull-0 {
    right: auto;
  }
  .grid-large-pull-1 {
    right: 8.333333333333332%;
  }
  .grid-large-pull-2 {
    right: 16.666666666666664%;
  }
  .grid-large-pull-3 {
    right: 25%;
  }
  .grid-large-pull-4 {
    right: 33.33333333333333%;
  }
  .grid-large-pull-5 {
    right: 41.66666666666667%;
  }
  .grid-large-pull-6 {
    right: 50%;
  }
  .grid-large-pull-7 {
    right: 58.333333333333336%;
  }
  .grid-large-pull-8 {
    right: 66.66666666666666%;
  }
  .grid-large-pull-9 {
    right: 75%;
  }
  .grid-large-pull-10 {
    right: 83.33333333333334%;
  }
  .grid-large-pull-11 {
    right: 91.66666666666666%;
  }
  .grid-large-offset-0 {
    margin-left: 0;
  }
  .grid-large-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .grid-large-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .grid-large-offset-3 {
    margin-left: 25%;
  }
  .grid-large-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .grid-large-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .grid-large-offset-6 {
    margin-left: 50%;
  }
  .grid-large-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .grid-large-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .grid-large-offset-9 {
    margin-left: 75%;
  }
  .grid-large-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .grid-large-offset-11 {
    margin-left: 91.66666666666666%;
  }
}