//
// Text Line
//


.text-line {
  @extend %margin-bottom;
  overflow: hidden;
  text-align: center;

  .text-line__text {
    font-size: em(16px);

    &:before,
    &:after {
      background-color: #d1d1d1;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
    }

    &:before {
      right: 0.5em;
      margin-left: -50%;
    }

    &:after {
      left: 0.5em;
      margin-right: -50%;
    }
  }
}