@keyframes rotate-Loader {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotateSpinner-Loader {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dot-Loader {
  0% {
    background: #fff;
    box-shadow: inset 0 0 0 43px #fff;
  }
  25% { 
    background: #e003ef;
    box-shadow: inset 0 0 0 36px #fff;
  }
  50% {
    background: #fff;
    box-shadow: inset 0 0 0 43px #fff;
  }
  75% {
    background: #3d3eff;  
    box-shadow: inset 0 0 0 36px #fff;
  }
  50% {
    background: #fff;
    box-shadow: inset 0 0 0 43px #fff;
  }
}

.Loader {
  animation: rotate-Loader 3s infinite linear;
  background-image: linear-gradient(#3d3eff, #e003ef);
  border-radius: 50%;
  height: 100px;
  overflow: hidden;
  position: relative;
  width: 100px;
  -webkit-backface-visibility: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  
  &:Loader::before { 
    animation: rotateSpinner-Loader 13s infinite linear;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
    transform-origin: 50px 50px;
  }
  
  &:Loader::after {
    animation: dot-Loader 1.5s infinite;
    background: #e003ef;
    border-radius: 50%;
    box-shadow: inset 0 0 0 45px #fff;
    content: '';
    height: 90px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 90px;
  }
}