//
// Global
//


html {
    height: 100%;
}

body {
    background-color: #C65757;
    background-attachment: fixed;
    background-size: 100%;
    font-family: 'News Cycle', sans-serif;
    color: #444;

    @media(min-width: $medium) {
        padding: 2rem 10rem;
        background-image: url('/assets/img/ace.jpg');

    }
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    text-align: center;
    font-size: 3.4em;
    color: #BB4949;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.94);
}

header {
    
}

.logo {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1.2em 1.2em .7em;
    border-radius: 2px 2px 0 0;

    img {
        width: 271px;
    }
}

#leaderboard {
    table {
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.26);
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.96);
    }
}

th, td {
    padding: .7rem 1.3rem;

    &:first-of-type,
    &:last-of-type {
        background: rgba(0, 0, 0, 0.04);
    }
}

th {
    text-transform: uppercase;
}

td {
    &.player {
        font-size: 1.2em;
        font-weight: 700;
        line-height: 0;

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

td:not(.player), th:not(.player) {
    text-align: center;
    padding-left: .4rem;
    padding-right: .4rem;

    @media(min-width: $small) {
        padding-left: 1.3rem;
        padding-right: 1.3rem;        
    }

}

tbody {
    > tr:nth-of-type(odd) {
        background-color: rgba(205, 11, 11, 0.06);
    }
}

thead { 
    th {
        border-bottom: 2px solid rgba(209, 106, 106, 0.42);
    }
}

.diff {
    display: none;

    @media(min-width: $small) {
        display: block;
    }
}

.rules-list {
    margin: 0;
    padding: 0;

    li {
        display: block;
        position: relative;
        font-weight: 700;
        font-size: 1.4rem;
        margin-bottom: .9rem;
        margin-left: 1.4rem;

        &:before {
            content: "★";
            position: absolute;
            left: -25px;
            font-size: .9em;
            color: #ee2e24;
        }
    }
}

.rules {
    background: rgba(255, 255, 255, 0.87);
    padding: 1.3rem 2.5rem;
    border-radius: 2px;
}

.rules-link {
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    float: right;
    text-decoration: none;
    padding-top: 2px;
}